---
import { Image } from "astro:assets";
import arrowDown from "@assets/icons/arrow-down.svg";

interface Props {
  href: string;
  label: string;
  icon?: "arrow-down";
}

const { href, label, icon } = Astro.props;

const icons = {
  "arrow-down": arrowDown,
};
---

<a
  href={href}
  aria-label={`${label} Button`}
  class="flex w-full items-center justify-center gap-[6px] rounded-[10px] bg-secondary px-[26px] py-4 text-center font-montserrat font-medium transition-all duration-100 ease-in-out hover:bg-accent md:w-fit md:px-[42px] lg:px-[68px]"
>
  {label}
  {icon && <Image src={icons[icon]} alt={icon} />}
</a>
