---
import "@styles/global.css";
import Header from "@components/Header";
import Footer from "@components/Footer";

interface Props {
  title: string;
  description: string;
  keywords: string;
}

const { title, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://danzbraham.github.io/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://danzbraham.github.io/og-image.png"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="danzbraham.github.io" />
    <meta property="twitter:url" content="https://danzbraham.github.io/" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content="https://danzbraham.github.io/og-image.png"
    />

    <title>{title}</title>
  </head>

  <body class="h-[2000px]">
    <Header client:load />
    <slot />
    <Footer />
  </body>
</html>
